body {
  background: linear-gradient(to right, #0865F1, #C704F6);
}

h5 {
  display: none;
  font-size: 1rem;
}

.calcContainer {
  display: none;
  background-color: black;
  color: white;
  padding: 2rem;
  margin: 5rem auto;
  font-size: 1.5rem;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 5rem;
  -webkit-box-shadow: inset 0px 0px 94px -15px rgba(8, 101, 241, 0.64);
  -moz-box-shadow: inset 0px 0px 94px -15px rgba(8, 101, 241, 0.64);
  box-shadow: inset 0px 0px 94px -15px rgba(8, 101, 241, 0.64);
}
.calcContainer .result, .calcContainer .history {
  background-color: #0865F1;
  color: black;
  padding: 5px;
  font-size: 1.5rem;
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #0865F1 0%, #C704F6 100%);
  border-image-slice: 1;
}

.calcButtonContainer {
  margin: 10px 0;
}

i {
  color: red;
}

.register-button {
  border: 2.5px solid transparent;
  border-image: linear-gradient(to right, #0865F1 0%, #C704F6 100%);
  border-image-slice: 1;
  color: white;
  text-decoration: none;
  font-weight: bold;
  background: black;
}

.register-button:hover {
  background-color: white;
  background: linear-gradient(to right, #0865F1, #C704F6);
  color: #fff;
  cursor: pointer;
}

@media (max-width: 576px) {
  .calcContainer {
    font-size: 1rem;
    width: 99%;
    padding: .5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  .zero {
    width: 49%;
  }

  .equals {
    width: 49%;
  }

  .ce {
    width: 49%;
  }

  button {
    width: 23.8%;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .calcContainer {
    font-size: 1rem;
    width: 60%;
  }

  .zero {
    width: 49%;
  }

  .equals {
    width: 49%;
  }

  .ce {
    width: 49%;
  }

  button {
    width: 23.8%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .calcContainer {
    font-size: 1rem;
    width: 55%;
  }

  .zero {
    width: 49%;
  }

  .equals {
    width: 49%;
  }

  .ce {
    width: 49%;
  }

  button {
    width: 24%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .calcContainer {
    font-size: 1.5rem;
    width: 55%;
  }

  .zero {
    width: 49%;
  }

  .equals {
    width: 49%;
  }

  .ce {
    width: 49%;
  }

  button {
    width: 23.8%;
  }
}
@media (min-width: 1200px) {
  .calcContainer {
    font-size: 1.5rem;
    width: 40%;
  }

  .zero {
    width: 49%;
  }

  .equals {
    width: 49%;
  }

  .ce {
    width: 49%;
  }

  button {
    width: 23.9%;
  }
}
